<ul>
    {{#each mealFilterList}}
    <li>
        <section>
            <header>
                <img src={{strMealThumb}} height="275" width="275">
                <h3>{{strMeal}}</h3>
            </header>
            <footer>
               <p>hier komt een link naar de source pagina</p>
            </footer>
        </section>
    </li>
    {{/each}}
</ul>