<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Find my meal</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="Find a recipe for your next meal">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header class="page-header">
  <h1>Find your meal</h1>
</header>
<body>
  <main>
    {{{ body }}}
  </main>
  <script src="/js/index.js"></script>
</body>

</html>