<h2>livingSpace</h2>
<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>
<form action="/search" method="POST" class="form-example">
  <fieldset>
    <label for="city">Find city by name</label>
    <input type="text" name="city" id="city" required>
  </fieldset>
  <fieldset>
    <input type="submit" value="Search">
  </fieldset>
</form>