<form action="/search" method="POST" onsubmit="searchSingleMeal();">
  <fieldset>
    <label for="meal">Find meal by name</label><br>
    <input type="text" list="mealOptions" placeholder="type name of the meal" name="meal" id="meal" required>
    <datalist id="mealOptions">
      <option value="Chicken Couscous">
      <option value="Mediterranean Pasta Salad">
      <option value="Kapsalon">
      <option value="Salmon Avocado Salad">
      <option value="French Lentils With Garlic and Thyme">
    </datalist>
    <input type="submit" value="Search">
  </fieldset>
  <fieldset>
    <a class="filter-switch" href="/filter">Filter on ingredients instead</a>
  </fieldset>
</form>
{{#if message}}
  <i>{{ message }}</i>
{{/if}}
<ul id="cardList">
  {{#if mealList}}
    {{> list }}
</ul>
  {{/if}}